{% load crispy_forms_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/signup.css' %}" rel="stylesheet"/>
    <title>Signup</title>
</head>

<body>

    <div class="login-container">
        <h2>Signup</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Signup"><br>
            <a href="{% url 'login' %}">Login to Your Account</a>
        </form>
    </div>

</body>

</html>